DISCORD_TOKEN=your_discord_token
GEMINI_API_KEY=your_gemini_api_key
GEMINI_NEWS_KEY_MORNING=your_gemini_api_key_2
GEMINI_NEWS_KEY_EVENING=your_gemini_api_key_3
BRAIN_SERVER_ID=your_brain_server_ID
IMG_API_KEY=your_image_api_key

GEMINI_MODEL_TEXT=gemma-4-31b-it
GEMINI_MODEL_PREMIUM=gemma-4-31b-it
GEMINI_NEWS_MODEL=gemini-3.5-flash
LIVE_MODEL="gemini-3.1-flash-live-preview"
GEMINI_VOICE_NAME="Puck"

PIXAZO_API_KEY=your_pixazo_api_key
PEXELS_KEY=your_pexels_api_key

STREAMABLE_EMAIL=your_streamable_email
STREAMABLE_PASSWORD=your_streamable_password

NEWS_ENABLED=your_server_id

OWNER_ID=your_owner_id